{%extends 'techpedia/base.html' %}
{%load staticfiles%}
	    
	     {% block title_block%}   
	     	Techpedia - Add Page
	     {% endblock %}
	    {%block body_block%}
	    	<br><br>
			<link href="https://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
			
			{% if category %}
				
				<h1>Add a Page to {{category.name}}</h1>
        		<form id="page_form" method="post" action="/techpedia/category/{{ category.slug }}/add_page/">
	            {% csrf_token %}
	            {% for hidden in form.hidden_fields %}
	                {{ hidden }}
	            {% endfor %}
	            {% for field in form.visible_fields %}
	                {{ field.errors }}
	                {{ field.help_text }}
	                {{ field }}
	            {% endfor %}
	            <br />
	              <input type="submit" name="submit" value="Add Page" />        
	            </form>
			{% else %}
				This category does not exist!
			{% endif%}
		{%endblock%}
