{% extends 'techpedia/base.html' %}
{% load staticfiles %}

	{% block body_block %}
		<div>
			<br>
			<h2>Categories</h2>
			{% if categories %}
			<ul class="list-group">
				{% for category in categories %}
					<li class="list-group-item">
					<a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>No categories</strong>
			{% endif %}
		</div>
		<div>
				<h2>Most Viewed Pages</h2>
					{% if pages %}
						<ul class="list-group">
						{% for page in pages %}
							<li class="list-group-item">
								<a href="{{ page.url }}">{{ page.title }}</a>
							</li>
						{% endfor %}
						</ul>
					{% else %}
						<strong>There are no pages</strong>
					{% endif %}
		</div>
		
	{% endblock %}